body {
  background: url('https://i.ibb.co/FqmCZHV2/IMG-20250402-WA0051.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: monospace;
}

.neon {
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
}

#poweredText {
  color: #39ff14;
  text-shadow: 0 0 3px #39ff14, 0 0 5px #39ff14;
}
